:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* index.css */
body {
  margin: 0;
  background-color: #000000;
  color: #ffffff;
  font-family: sans-serif;
}

button {
  background-color: #1f1f1f;
  color: #ffffff;
  border: 1px solid #333;
  padding: 8px 16px;
  margin: 4px;
  border-radius: 6px;
  cursor: pointer;
}

.active-tab {
  background-color: #333333;
  font-weight: bold;
}

.main-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
}


.screen-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
}

.screen-content {
  width: 390px; 
  height: 670px;
  background-color: #000;
  border: 1px solid #333;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  
}
